.countdown-container {
  color: var(--heart-color);
  margin: 0 auto;
  text-align: center;
  font-family: 'Amatic SC', cursive;
}

.countdown-container h1 {
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.countdown-container ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.countdown-container li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

.countdown-container li span {
  display: block;
  font-size: 4.5rem;
}

.emoji {
  display: none;
  padding: 1rem;
}

.emoji span {
  font-size: 4rem;
  padding: 0 .5rem;
}

@media all and (max-width: 768px) {
  .countdown-container h1 {
    font-size: 2.25rem;
  }
  
  .countdown-container li {
    font-size: 1.125rem;
  }
  
  .countdown-container li span {
    font-size: 3.375rem;
  }
}
